.entrada {
    text-align: center;
}

#notaContainerId {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.postItClass {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.postItClass textarea{
    width: 100%;
    height: 100%;
    background-color: #f8f523;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #000000;
    resize: none;
}

